.busca {
       font-family: "Bebas Neue", cursive;
     }
     .buscador {
       padding: 7px;
       border: none;
       margin-top: 1px;
       font-size: 17px;
     }
     
     #in {
       border-radius: 13px 0 0 13px;
       border: 1px solid whitesmoke;
     }
     
     #bt {
       cursor: pointer;
       font-size: 25px;
       border-radius: 0 0px 13px 0;
       margin-right: 5rem;   
       width: 60px;
       height: 25%;
       transition-duration: 0.4s;
       font-weight: bold;
       background-color: transparent;
       color: whitesmoke;
     }
     
     #bt:hover {
       background-color: rgba(59, 26, 90, 0);
       color: #ACA92C;
     }