@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech&display=swap');


.loaderDetail {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 300px;
  height: 300px;
  margin-top: 160px;
  margin-bottom: 300px;
}

#description {

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
  font-family: 'Press Start 2P', cursive;  
}
/* ------------------------------------------------------ */
.contenedorDetail {
  height: 1000px;
  width: 800px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20%;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 3%;
  padding-bottom: 15px;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;  
}
.contenedorDetail h1 {
  font-size: 25px;
  color: #fcfcfc;
  font-weight: bold;
  background-color: transparent;
  border-radius: 20px 20px 0 0;
  padding-top: 8px;
  font-family: 'Press Start 2P', cursive;  
}

.imagenDetalle {
  display: flex;
  justify-content: center;

}
.imgDetalle {
  border-radius: 15px;
}

.subtitle {
  margin-top: 15px;
  color: #AE9F20;
  font: 1.1rem ;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: 'Press Start 2P', cursive;  
}

.text {
  margin-top: 10px;
  color: #fdfdfd;
  font: 0.9rem ;
  margin: 0.8%;
  font-family: 'Press Start 2P', cursive;  
}

.btnD {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  margin: 3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.5s;
}
.btnD:hover{
  background-color: red;
  color: white;
}
